---
- name: Copy custom facts
  hosts: all
  gather_facts: false

  tasks:
    - name: Install python3-netifaces package
      apt:
        name: python3-netifaces
        state: present
      become: true

    - name: Create custom facts directory
      file:
        path: /etc/ansible/facts.d
        state: "directory"
        owner: root
        group: root
        mode: 0755
      become: true

    - name: Copy fact files
      copy:
        src: "{{ item }}.fact"
        dest: "/etc/ansible/facts.d/{{ item }}.fact"
        owner: root
        group: root
        mode: 0755
      become: true
      loop:
        - testbed_ceph_devices
        - testbed_ceph_devices_all
        - testbed_network_devices

    - name: Gathers facts about remote hosts
      setup:
