---
- name: Wipe partitions
  hosts: ceph-resource
  gather_facts: false

  tasks:
    - name: Find all logical devices with prefix ceph
      ansible.builtin.find:
        paths: /dev/mapper
        recurse: false
        file_type: link
        patterns: "ceph*"
      register: result

    # https://github.com/rook/rook/issues/6865#issuecomment-756698522
    - name: Remove all ceph related logical devices
      become: true
      ansible.builtin.command: "dmsetup remove {{ item.path }}"
      loop: "{{ result.files }}"
      changed_when: true

    # Debugging and testing
    - name: Debug testbed_ceph_devices_all
      ansible.builtin.debug:
        var: ansible_local.testbed_ceph_devices_all

    - name: Check device availability
      ansible.builtin.command: "lsblk -no MOUNTPOINT {{ item }}"
      register: device_check
      changed_when: false
      failed_when: false
      loop: "{{ ansible_local.testbed_ceph_devices_all }}"

    - name: Wipe partitions with wipefs
      become: true
      ansible.builtin.command: "wipefs --all {{ item.item }}"
      register: wipefs_result
      changed_when: wipefs_result.rc == 0 and wipefs_result.stdout != ""
      failed_when: wipefs_result.rc != 0 and wipefs_result.rc != 1
      when: item.stdout == ""
      loop: "{{ device_check.results }}"
      loop_control:
        label: "{{ item.item }}"

    - name: Overwrite first 32M with zeros
      become: true
      ansible.builtin.command: "dd if=/dev/zero of={{ item.item }} bs=1M count=32 oflag=direct,dsync"
      changed_when: true
      when: item.stdout == ""
      loop: "{{ device_check.results }}"
      loop_control:
        label: "{{ item.item }}"
