---
##########################
# versions

ceph_version: quincy
manager_version: latest
openstack_version: 2024.2

##########################
# listener

# NOTE: It does not work here to work with inventory groups because
#       the manager's inventory is independent from the rest of the
#       inventory.

enable_listener: true
manager_listener_broker_hosts:
  - 192.168.16.10
  - 192.168.16.11
  - 192.168.16.12
manager_listener_broker_username: openstack
manager_listener_broker_uri: "{% for host in manager_listener_broker_hosts %}amqp://{{ manager_listener_broker_username }}:{{ manager_listener_broker_password }}@{{ host }}:5672/{% if not loop.last %};{% endif %}{% endfor %}"

##########################
# openstack

manager_openstack_os_auth_url: https://api.testbed.osism.xyz:5000/v3

##########################
# celery

flower_enable: true
flower_traefik: true
flower_host: flower.testbed.osism.xyz

osism_api_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"

##########################
# ara

ara_server_host: ara.testbed.osism.xyz
ara_server_traefik: true

##########################
# netbox

netbox_enable: true

netbox_host: netbox.testbed.osism.xyz
netbox_traefik: true
netbox_api_url: "https://{{ netbox_host }}"

##########################
# opensearch

manager_opensearch_address: api-int.testbed.osism.xyz

##########################
# configuration

configuration_git_port: 443
configuration_git_protocol: https
configuration_git_repository: osism/testbed.git
