*.auto.tfvars
.*.swp
.MANAGER_ADDRESS.*
.ansible-lint-rules/__pycache__/
.deploy.*
.id_rsa.*
.src
.terraform
.terraform.lock.hcl
.tox
.venv
Pipfile.lock
backend.env
backend.tf
clouds.yaml
clouds.yml
contrib/es_test_data.py
contrib/mysql_random_data_load
contrib/ownca/testbed-*.key
contrib/ownca/testbed-*.pem
doc/build
environment-local.tfvars
environments/**/ceph.client.*.keyring
errored.tfstate
local.env
roles
secrets
secure.yaml
secure.yml
terraform.tfstate*
terraform.tfstate.d
terraform/*.tf
terraform/inventory.*
terraformrc
terraform/customisations/
terraform/overrides/
terraform/terragrunt.hcl
venv
.idea
wg-*.conf
