.MANAGER_ADDRESS.*
.deploy.*
.id_rsa.*
.terraform
.tox
.venv
Pipfile.lock
clouds.yaml
clouds.yml
contrib/es_test_data.py
contrib/mysql_random_data_load
docs/build
environments/**/ceph.client.*.keyring
roles
secrets
secure.yaml
secure.yml
terraform.tfstate*
terraform.tfstate.d
