---
- device:
    name: {{ device_name }}
    site: Discworld
    location: Ankh-Morpork
    rack: "1000"
    device_type: Baremetal-Device
    device_role: Generic
    custom_fields:
      ironic_parameters:
        driver_info:
          ipmi_address: {{ oob_address }}
          ipmi_port: {{ oob_port }}
    tags:
      - managed-by-osism
      - managed-by-ironic
      - generic

- device_bay:
    device: {{ node }}
    name: {{ bay }}
    installed_device: {{ device_name }}

{% for mac in macs -%}
- mac_address:
    mac_address: {{ mac }}
    assigned_object:
      name: Ethernet{{ loop.index }}
      device: {{ device_name }}

- device_interface:
    name: Ethernet{{ loop.index }}
    device: {{ device_name }}
    primary_mac_address: {{ mac }}
{% endfor %}
