#!/usr/bin/env bash

{% if ansible_os_family == "Debian" and inventory_hostname_short != "testbed-manager" %}
if [[ -e /usr/sbin/ifup ]]; then
    ifdown {{ internal_interface }} && ifup {{ internal_interface }}
else
    netplan apply
fi
{% elif ansible_os_family == "RedHat" %}
    ip link add vxlan0 type vxlan id 42 group 239.1.1.1 dstport 4789 dev {{ internal_interface }}
    ip addr add {{ '192.168.112.0/20' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}/20 dev vxlan0
    ip link set up dev vxlan0

    ip link add vxlan1 type vxlan id 23 group 239.1.1.1 dstport 4789 dev {{ internal_interface }}
    ip addr add {{ '192.168.128.0/20' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}/20 dev vxlan1
    ip link set up dev vxlan1

    iptables -A FORWARD -i {{ internal_interface }} -j ACCEPT
    iptables -A FORWARD -o {{ internal_interface }} -j ACCEPT
    iptables -t nat -A POSTROUTING -o {{ internal_interface }} -j MASQUERADE
{% endif %}
