#!/usr/bin/env bash

if [[ -e /usr/sbin/ifup ]]; then
    ifdown {{ ansible_local.testbed_network_devices.management }} && ifup {{ ansible_local.testbed_network_devices.management }}
else
    netplan apply
fi
