---
##########################################################
# ansible

ansible_host: 192.168.40.10

##########################################################
# generic

console_interface: "{{ ansible_local.testbed_network_devices.management }}"
management_interface: "{{ ansible_local.testbed_network_devices.internal }}"

internal_address: 192.168.50.10
fluentd_host: 192.168.50.10

##########################################################
# cockpit

configure_cockpit_server: yes
cockpit_host: "{{ hostvars[inventory_hostname]['ansible_' + console_interface]['ipv4']['address'] }}"
cockpit_ssh_interface: "{{ ansible_local.testbed_network_devices.management }}"

##########################################################
# netdata

netdata_host_type: client

##########################################################
# network-interfaces

network_allow_service_restart: no
network_restart_method: nothing

network_interfaces:
  - device: "{{ ansible_local.testbed_network_devices.management }}"
    auto: true
    family: inet
    method: static
    address: 192.168.40.10
    netmask: 255.255.255.0
    gateway: 192.168.40.1
    mtu: 1450

  - device: "{{ ansible_local.testbed_network_devices.internal }}"
    auto: true
    family: inet
    method: static
    address: 192.168.50.10
    netmask: 255.255.255.0
    mtu: 1450

  - device: "{{ ansible_local.testbed_network_devices.external }}"
    auto: true
    family: inet
    method: static
    address: 192.168.90.10
    netmask: 255.255.255.0
    mtu: 1450

  - device: "{{ ansible_local.testbed_network_devices.provider }}"
    auto: true
    family: inet
    method: manual
    mtu: 1450

  - device: "{{ ansible_local.testbed_network_devices.storage_frontend }}"
    auto: true
    family: inet
    method: static
    address: 192.168.70.10
    netmask: 255.255.255.0
    mtu: 1450

  - device: "{{ ansible_local.testbed_network_devices.storage_backend }}"
    auto: true
    family: inet
    method: static
    address: 192.168.80.10
    netmask: 255.255.255.0
    mtu: 1450

##########################################################
# kolla

network_interface: "{{ ansible_local.testbed_network_devices.internal }}"

# api_interface:
# dns_interface:
kolla_external_vip_interface: "{{ ansible_local.testbed_network_devices.external }}"
# migration_interface:
neutron_external_interface: "{{ ansible_local.testbed_network_devices.provider }}"
# octavia_network_interface:
storage_interface: "{{ ansible_local.testbed_network_devices.storage_frontend }}"
# tunnel_interface:

##########################################################
# ceph

# monitor_interface:
monitor_address: 192.168.70.10
# radosgw_interface:
# radosgw_address:

devices: "{{ ansible_local.testbed_ceph_devices }}"
