---
# This is a clouds.yaml file, which can be used by OpenStack tools as a source
# of configuration on how to connect to a cloud. If this is your only cloud,
# just put this file in ~/.config/openstack/clouds.yaml and tools like
# python-openstackclient will just work with no further config. (You will need
# to add your password to the auth section)
# If you have more than one cloud account, add the cloud entry to the clouds
# section of your existing file and you can refer to them by name with
# OS_CLOUD=openstack or --os-cloud=openstack
clouds:
  testbed-admin:
    profile: testbed
    auth:
      username: admin
      project_name: admin
      project_domain_name: default
      user_domain_name: default
  testbed-test:
    profile: testbed
    auth:
      username: test
      project_name: test
      project_domain_name: default
      user_domain_name: default
  testbed-alice:
    profile: testbed-keycloak
    auth:
      username: alice
      project_name: test
