---
##########################
# configuration

configuration_directory: /opt/configuration

configuration_type: git
configuration_git_version: master
configuration_git_host: github.com
configuration_git_port: 443
configuration_git_repository: osism/testbed.git
configuration_git_protocol: https

##########################
# docker

docker_user: "{{ operator_user }}"

docker_kata_install: yes

docker_configure_storage_driver: yes
docker_storage_driver: overlay2

ceph_docker_registry: index.docker.io
docker_registry: index.docker.io
docker_registry_ansible: quay.io

##########################
# docker-compose

docker_compose_install_type: package

##########################
# versions

docker_version: "5:19.03.5"
repository_version: latest

##########################
# operator

operator_authorized_keys:
  - "{{lookup('file', '/ansible/secrets/id_rsa.operator.pub')}}"

##########################
# resolvconf

resolvconf_nameserver:
  - 9.9.9.9
  - 149.112.112.112
resolvconf_search: osism.local
resolvconf_package: ""

##########################
# hosts

hosts_type: template
hosts_additional_entries:
  api-int.osism.local: 192.168.50.200
  api.osism.local: 192.168.90.200

##########################
# common

cleanup_services_common:
  - NetworkManager
  - iscsid
  - lxcfs
  - nscd
  - ntp

install_microcode_package_common: yes
rng_enable_common: yes
smartd_enable_common: no

##########################
# kolla

kolla_internal_vip_address: 192.168.50.200
kolla_external_vip_address: 192.168.90.200

##########################
# serial

osism_serial_default: 30%
osism_serial:
  chrony: 100%
  cockpit: 100%
  common: 100%
  docker: 1
  grub: 100%
  hardening: 100%
  hostname: 100%
  hosts: 100%
  network: 100%
  operator: 100%
  pipelining: 100%
  proxy: 100%
  python: 100%
  repository: 100%
  resolvconf: 100%
  timezone: 100%
  utilities: 100%

##########################
# ceph

ceph_share_directory: /share
ceph_cluster_fsid: 11111111-1111-1111-1111-111111111111
