---
##########################
# testbed specific parameters

testbed_mtu: 1400
testbed_mtu_manager: "{{ testbed_mtu }}"
testbed_mtu_node: "{{ testbed_mtu }}"

##########################
# docker

docker_version: "5:24.0.9"
docker_user: "{{ operator_user }}"
docker_opts:
  max-concurrent-downloads: 20
docker_insecure_registries:
  # Pass through cache for Docker Hub
  - nexus.testbed.osism.xyz:8191
  # Pass through cache for Quay
  - nexus.testbed.osism.xyz:8192
  # Pass through cache for OSISM Harbor
  - nexus.testbed.osism.xyz:8193

##########################
# container registries

ceph_docker_registry: quay.io
docker_registry: index.docker.io
docker_registry_ansible: quay.io
docker_registry_kolla: quay.io
docker_registry_netbox: quay.io

##########################
# operator

operator_user: dragon
operator_authorized_keys:
  - "{{lookup('file', '/ansible/secrets/id_rsa.operator.pub')}}"

##########################
# resolvconf

resolvconf_nameserver:
  - 8.8.8.8
  - 9.9.9.9
resolvconf_search: testbed.osism.xyz
resolvconf_dnssec: false

##########################
# hosts

hosts_type: template
hosts_additional_entries:
  api-int.testbed.osism.xyz: 192.168.16.9
  api.testbed.osism.xyz: 192.168.16.254

##########################
# common

cleanup_packages_extra:
  - snapd

required_packages_extra:
  - linux-generic-hwe-22.04

##########################
# serial

# The recommended default for a production is 30% (is set by default).
# It is here 100% to speed up the Testbed. The parameter does not affect
# the behavior of the docker and network play. These are rolled out
# with serial = 1.
osism_serial_default: 100%

osism_serial:
  # The recommended default for a production is 1 (is set by default).
  # It is here 100% to speed up the Testbed.
  network: 100%

##########################
# ceph

ceph_cluster_fsid: 11111111-1111-1111-1111-111111111111

##########################
# other

# NOTE: Disabling hardening in the testbed to significantly reduce
#       deployment time.
enable_hardening: false

# NOTE: Disabling auditd in the testbed to significantly reduce
#       waste of resources (in the context of CI).
enable_auditd: false
