---
_network_vxlan_interfaces:
  vxlan0:
    vni: 42
    mtu: 1350
    local_ip: "{{ [inventory_hostname] | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | first }}"
    dests: "{{ (groups['testbed-nodes'] + groups['testbed-managers']) | reject('equalto', inventory_hostname) | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | list }}"
    addresses: >-
      {{
        [
          '192.168.112.0/20' | ansible.utils.ipaddr('net')
                             | ansible.utils.ipaddr(node_id)
                             | ansible.utils.ipaddr('address')
          + '/20'
        ] if inventory_hostname in groups['testbed-managers'] else []
      }}
  vxlan1:
    vni: 23
    mtu: 1350
    local_ip: "{{ [inventory_hostname] | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | first }}"
    dests: "{{ (groups['testbed-nodes'] + groups['testbed-managers']) | reject('equalto', inventory_hostname) | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | list }}"
    addresses:
      - "{{ '192.168.128.0/20' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}/20"
_network_vxlan_interface_vxlan_oob:
  vxlan-oob:
    vni: 65
    mtu: 1350
    local_ip: "{{ [inventory_hostname] | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | first }}"
    dests: "{{ (groups['testbed-nodes'] + groups['testbed-managers']) | reject('equalto', inventory_hostname) | map('extract', hostvars, 'ansible_facts') | map(attribute=internal_interface) | map(attribute='ipv4') | map(attribute='address') | list }}"
    addresses:
      - "{{ '172.16.0.0/20' | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(node_id) | ansible.utils.ipaddr('address') }}/20"
network_vxlan_interfaces: "{{ _network_vxlan_interfaces | combine(_network_vxlan_interface_vxlan_oob if testbed_baremetal_scenario | bool else {}) }}"
