---
##########################
# cephclient

cephclient_mons:
  - 192.168.64.10
  - 192.168.64.11
  - 192.168.64.12

##########################
# homer

homer_host: "{{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['internal_interface']]['ipv4']['address'] }}"

##########################
# jenkins

jenkins_host: "{{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['internal_interface']]['ipv4']['address'] }}"
