---
##########################
# versions

ceph_version: nautilus
openstack_version: victoria

##########################
# cephclient

cephclient_mons:
  - 192.168.64.10
  - 192.168.64.11
  - 192.168.64.12
