---
##########################
# versions

ceph_version: nautilus
openstack_version: train

##########################
# helper

configure_adminer: no
configure_phpmyadmin: yes
configure_rally: no
configure_sshconfig: yes

##########################
# cephclient

cephclient_keyring: "{{ lookup('file', '{{ configuration_directory }}/environments/infrastructure/files/ceph/ceph.client.admin.keyring') }}"
cephclient_keyring_name: client.admin
cephclient_mons:
  - 192.168.70.10
  - 192.168.70.11
  - 192.168.70.12
cephclient_cluster_fsid: "{{ ceph_cluster_fsid }}"

##########################
# openstackclient

openstackclient_configuration_directory: "{{ configuration_directory }}/environments/openstack"

##########################
# phpmyadmin

phpmyadmin_host: "{{ hostvars[inventory_hostname]['ansible_' + console_interface]['ipv4']['address'] }}"
phpmyadmin_database_host: "{{ kolla_internal_vip_address }}"

##########################
# patchman

patchman_host: "{{ hostvars[inventory_hostname]['ansible_' + management_interface]['ipv4']['address'] }}"
