---
##########################
# cephclient

cephclient_mons:
  - 192.168.16.10
  - 192.168.16.11
  - 192.168.16.12

##########################
# cgit

cgit_traefik: true
cgit_host: cgit.testbed.osism.xyz

##########################
# homer

homer_traefik: true
homer_host: homer.testbed.osism.xyz

homer_url_ara: "https://ara.testbed.osism.xyz/"
homer_url_ceph: "https://api-int.testbed.osism.xyz:8140"
homer_url_flower: "https://flower.testbed.osism.xyz/"
homer_url_grafana: "https://api-int.testbed.osism.xyz:3000"
homer_url_horizon: "https://api.testbed.osism.xyz/"
homer_url_keycloak: "https://keycloak.testbed.osism.xyz/auth"
homer_url_kibana: "https://api-int.testbed.osism.xyz:5601"
homer_url_netbox: "https://netbox.testbed.osism.xyz"
homer_url_netdata: "http://testbed-manager.testbed.osism.xyz:19999"
homer_url_opensearch_dashboards: "https://api-int.testbed.osism.xyz:5601"
homer_url_phpmyadmin: "https://phpmyadmin.testbed.osism.xyz/"
homer_url_prometheus: "https://api-int.testbed.osism.xyz:9091/"
homer_url_rabbitmq: "https://api-int.testbed.osism.xyz:15672/"

##########################
# keycloak

keycloak_traefik: true
keycloak_host: keycloak.testbed.osism.xyz

##########################
# netbox

netbox_traefik: true
netbox_host: netbox.testbed.osism.xyz
netbox_plugins_extra:
  - netbox_bgp
  - netbox_dns

##########################
# phpmyadmin

phpmyadmin_traefik: true
phpmyadmin_host: phpmyadmin.testbed.osism.xyz
phpmyadmin_database_host: 192.168.16.9

##########################
# squid

squid_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"

# NOTE: This can be removed in the future if the list of shared sources is
#       in sync with the osism.services.squid role (or the ansible-defaults)
#       used in the last stable release tested in the CI.
squid_allowed_addresses:
  - .archive.ubuntu.com
  - .cloudfront.net
  - .opendev.org
  - .quay.io
  - auth.docker.io
  - download.docker.com
  - galaxy.ansible.com
  - github.com
  - harbor.services.osism.tech
  - index.docker.io
  - minio.services.osism.tech
  - osism.harbor.regio.digital
  - packagecloud.io
  - production.cloudflare.docker.com
  - pypi.org
  - registry-1.docker.io
  - swift.services.a.regiocloud.tech

##########################
# traefik

traefik_enable: true
traefik_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"

##########################
# wireguard

wireguard_users:
  - name: dragon
    key: LDweUZxqy/0AieSVw3baZmbRMPBqhfDUcuLAwSYyQkE=
    ip: 192.168.48.4
wireguard_create_client_config: true

##########################
# nexus

nexus_traefik: true
nexus_host: nexus.testbed.osism.xyz

##########################
# thanos_sidecar

thanos_sidecar_host: "{{ hostvars[inventory_hostname]['ansible_' + internal_interface]['ipv4']['address'] }}"
thanos_sidecar_prometheus_url: "https://api-int.testbed.osism.xyz:9091/"
