---
##########################
# generic

containerized_deployment: true

osd_objectstore: bluestore
osd_scenario: lvm

generate_fsid: false
fsid: ce766f84-6dde-4ba0-9c57-ddb62431f1cd

##########################
# network

public_network: 192.168.70.0/24
cluster_network: 192.168.80.0/24

##########################
# pools & keys

# NOTE: default size of 2 because by default there are only 2 volumes per node
cephfs_pool_default_size: 2
cephfs_pool_default_min_size: 0
cephfs_pool_default_pg_num: 32

cephfs_data_pool:
  name: "cephfs_data"
  pg_num: "{{ cephfs_pool_default_pg_num }}"
  pgp_num: "{{ cephfs_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "cephfs"
  size: "{{ cephfs_pool_default_size }}"
  min_size: "{{ cephfs_pool_default_min_size }}"

cephfs_metadata_pool:
  name: "cephfs_metadata"
  pg_num: "{{ cephfs_pool_default_pg_num }}"
  pgp_num: "{{ cephfs_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "cephfs"
  size: "{{ cephfs_pool_default_size }}"
  min_size: "{{ cephfs_pool_default_min_size }}"

cephfs_pools:
  - "{{ cephfs_data_pool }}"
  - "{{ cephfs_metadata_pool }}"

# NOTE: After the initial deployment of the Ceph Clusters, the following parameter can be
#       set to false. It must only be set to true again when new pools or keys are added.
openstack_config: true

# NOTE: default size of 2 because by default there are only 2 volumes per node
openstack_pool_default_size: 2
openstack_pool_default_min_size: 0
openstack_pool_default_pg_num: 64

openstack_cinder_backup_pool:
  name: "backups"
  pg_num: "{{ openstack_pool_default_pg_num }}"
  pgp_num: "{{ openstack_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "rbd"
  size: "{{ openstack_pool_default_size }}"
  min_size: "{{ openstack_pool_default_min_size }}"
  pg_autoscale_mode: False

openstack_cinder_pool:
  name: "volumes"
  pg_num: "{{ openstack_pool_default_pg_num }}"
  pgp_num: "{{ openstack_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "rbd"
  size: "{{ openstack_pool_default_size }}"
  min_size: "{{ openstack_pool_default_min_size }}"
  pg_autoscale_mode: False

openstack_glance_pool:
  name: "images"
  pg_num: "{{ openstack_pool_default_pg_num }}"
  pgp_num: "{{ openstack_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "rbd"
  size: "{{ openstack_pool_default_size }}"
  min_size: "{{ openstack_pool_default_min_size }}"
  pg_autoscale_mode: False

openstack_gnocchi_pool:
  name: "metrics"
  pg_num: "{{ openstack_pool_default_pg_num }}"
  pgp_num: "{{ openstack_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "rbd"
  size: "{{ openstack_pool_default_size }}"
  min_size: "{{ openstack_pool_default_min_size }}"
  pg_autoscale_mode: False

openstack_nova_pool:
  name: "vms"
  pg_num: "{{ openstack_pool_default_pg_num }}"
  pgp_num: "{{ openstack_pool_default_pg_num }}"
  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
  application: "rbd"
  size: "{{ openstack_pool_default_size }}"
  min_size: "{{ openstack_pool_default_min_size }}"
  pg_autoscale_mode: False

openstack_pools:
  - "{{ openstack_cinder_backup_pool }}"
  - "{{ openstack_cinder_pool }}"
  - "{{ openstack_glance_pool }}"
  - "{{ openstack_gnocchi_pool }}"
  - "{{ openstack_nova_pool }}"

openstack_keys:
  - name: client.cinder-backup
    caps:
      mon: "profile rbd"
      osd: "profile rbd pool={{ openstack_cinder_backup_pool.name }}"
    mode: "0600"
  - name: client.cinder
    caps:
      mon: "profile rbd"
      osd: "profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_glance_pool.name }}"
    mode: "0600"
  - name: client.glance
    caps:
      mon: "profile rbd"
      osd: "profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_glance_pool.name }}"
    mode: "0600"
  - name: client.gnocchi
    caps:
      mon: "profile rbd"
      osd: "profile rbd pool={{ openstack_gnocchi_pool.name }}"
    mode: "0600"
  - name: client.nova
    caps:
      mon: "profile rbd"
      osd: "profile rbd pool={{ openstack_glance_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_cinder_backup_pool.name }}"
    mode: "0600"

##########################
# manager

ceph_mgr_modules:
  - balancer
  - dashboard
  - prometheus
  - status

##########################
# custom

ceph_conf_overrides:
  mon:
    mon allow pool delete: true
  osd:
    # NOTE: default size of 2 because by default there are only 2 volumes per node
    osd pool default size: 2
