[Interface]
PrivateKey = {{ private_key_client['content']|b64decode }}
Address = 192.168.48.4/24

[Peer]
PublicKey = {{ public_key_server['content']|b64decode }}
PresharedKey = {{ preshared_key['content']|b64decode }}
AllowedIPs = 192.168.16.0/20, 192.168.48.0/20, 192.168.96.0/20, 192.168.112.0/20
Endpoint = MANAGER_PUBLIC_IP_ADDRESS:51820
