#!/usr/bin/env bash

/usr/bin/sshuttle --ssh-cmd "ssh -o StrictHostKeyChecking=no -i /opt/configuration/terraform/.id_rsa.{{ cloud_env }}" -r dragon@{{ node_0_host }} 192.168.16.0/20 192.168.112.0/20
