---
- name: Run manager part 1
  hosts: testbed-manager.testbed.osism.xyz

  vars:
    ansible_ssh_user: dragon
    operator_user: dragon
    repo_path: /home/debian/src/github.com
    repo: osism/testbed
    version_manager: latest
    is_zuul: false

    venv_path: /opt/venv

    ansible_playbook: "{{ venv_path }}/bin/ansible-playbook"


  tasks:
    - name: Set venv_command fact (RedHat)
      ansible.builtin.set_fact:
        venv_command: python3.11 -m venv
      when: ansible_os_family == "RedHat"

    - name: Set venv_command fact (Debian)
      ansible.builtin.set_fact:
        venv_command: python3 -m venv
      when: ansible_os_family == "Debian"

    - name: Apply osism.commons.repository role
      ansible.builtin.import_role:
        name: osism.commons.repository

    - name: Get home directory of ansible user
      ansible.builtin.shell: |
        set -o pipefail
        getent passwd {{ ansible_user }} | cut -d: -f6
      args:
        executable: /bin/bash
      changed_when: false
      register: result_home

    - name: Set repo_path fact
      ansible.builtin.set_fact:
        repo_path: "{{ result_home.stdout }}/src/github.com"
      when: repo_path is not defined

    - name: Copy SSH public key
      ansible.builtin.copy:
        content: "{{ lookup('file', '.id_rsa.' + cloud_env + '.pub') }}\n"
        dest: .ssh/id_rsa.pub
        mode: '0644'
        owner: "{{ operator_user }}"

    - name: Copy SSH private key
      ansible.builtin.copy:
        content: "{{ lookup('file', '.id_rsa.' + cloud_env) }}\n"
        dest: .ssh/id_rsa
        mode: '0600'
        owner: "{{ operator_user }}"
      no_log: true

    - name: Create configuration directory
      become: true
      ansible.builtin.file:
        state: directory
        path: /opt/configuration
        mode: '0755'
        owner: "{{ operator_user }}"

    - name: Copy testbed repo
      become: true
      become_user: dragon
      ansible.posix.synchronize:
        src: "{{ repo_path }}/{{ repo }}/"
        delete: true
        dest: /opt/configuration

    - name: Install python requirements in venv
      ansible.builtin.pip:
        umask: "0022"
        name: "{{ item }}"
        state: present
        virtualenv: "{{ venv_path }}"
        virtualenv_command: "{{ venv_command }}"
      loop:
        - netifaces
        - "python-gilt==1.2.3"
        - "requests>=2.32.2"
        - "docker>=7.1.0"

    - name: Sync configuration with generics
      ansible.builtin.shell: |
          set -o pipefail
          source {{ venv_path }}/bin/activate
          MANAGER_VERSION={{ version_manager }} gilt overlay
      args:
        chdir: /opt/configuration
        executable: /bin/bash
      when: version_manager != "latest"
      changed_when: true

    - name: Set docker registries
      ansible.builtin.command:
        cmd: /opt/configuration/scripts/set-docker-registry.sh
      when:
        - is_zuul | bool
        - version_manager != "latest"
      changed_when: true

    - name: Set docker namespace for kolla (when working with stable tags)
      ansible.builtin.lineinfile:
        path: /opt/configuration/environments/kolla/configuration.yml
        regexp: "^docker_namespace"
        line: "docker_namespace: kolla/release"
      when:
        - is_zuul | bool
        - version_manager != "latest"
      changed_when: true

    - name: Set docker namespace for kolla (when working with latest tags)
      ansible.builtin.lineinfile:
        path: /opt/configuration/environments/kolla/configuration.yml
        regexp: "^docker_namespace"
        line: "docker_namespace: kolla"
      when:
        - is_zuul | bool
        - version_manager == "latest"
      changed_when: true

    - name: Copy testbed crt
      become: true
      ansible.builtin.copy:
        src: ../environments/kolla/certificates/ca/testbed.crt
        dest: /usr/local/share/ca-certificates/
        mode: '0644'
        owner: root

    - name: Run update-ca-certificates
      become: true
      ansible.builtin.command: update-ca-certificates
      changed_when: true
      when: ansible_os_family == "Debian"

    - name: Run update-ca-trust
      become: true
      ansible.builtin.command: update-ca-trust
      changed_when: true
      when: ansible_os_family == "RedHat"

    - name: Run manager part 2
      ansible.builtin.command: "{{ ansible_playbook }} -i testbed-manager.testbed.osism.xyz, -e version_manager={{ version_manager }} /opt/configuration/ansible/manager-part-2.yml"
      changed_when: true
