---
##########################################################
# ansible

ansible_become: true
ansible_become_user: root

##########################################################
# images

docker_registry: quay.io
kolla_base_distro: ubuntu
kolla_install_type: source
openstack_release: victoria
kolla_image_version: "{{ openstack_release }}"

##########################################################
# kolla

config_strategy: COPY_ALWAYS
node_custom_config: "{{ configuration_directory }}/environments/kolla/files/overlays"

kolla_enable_sanity_checks: "yes"

##########################################################
# haproxy

kolla_internal_fqdn: api-int.osism.test
kolla_external_fqdn: api.osism.test

kolla_enable_tls_external: "no"
kolla_enable_tls_internal: "no"

haproxy_client_timeout: 5m
haproxy_server_timeout: 5m

##########################################################
# networking

# NOTE: The configuration of the network interfaces to be used should be done via the inventory.

##########################################################
# docker

docker_namespace: osism
docker_restart_policy_retry: 0

##########################################################
# openstack

# enable services
enable_aodh: "yes"
enable_barbican: "yes"
enable_ceilometer: "yes"
enable_cinder: "yes"
enable_cinder_backup: "yes"
enable_cloudkitty: "yes"
enable_designate: "yes"
enable_gnocchi: "yes"
enable_heat: "yes"
enable_kuryr: "yes"
enable_magnum: "yes"
enable_manila: "yes"
enable_octavia: "yes"
enable_panko: "yes"
enable_watcher: "no"
enable_zun: "yes"

enable_etcd: "yes"
enable_grafana: "yes"
enable_prometheus: "yes"
enable_redis: "yes"
enable_skydive: "yes"

# disable services
enable_chrony: "no"

# generic

# NOTE: This has to be "False", not "false"!
openstack_logging_debug: "False"
openstack_service_workers: 5

# profiling
enable_osprofiler: "no"

# logging
enable_central_logging: "yes"

# elasticsearch

es_heap_size: "1g"

# mariadb

enable_mariabackup: "yes"

# rabbitmq

rabbitmq_server_additional_erl_args: "+S 1:1"

# horizon
horizon_backend_database: "yes"

# keystone
keystone_token_provider: "fernet"

# neutron
neutron_plugin_agent: "{{ 'ovn' if openstack_release in ['ussuri', 'victoria'] else 'openvswitch' }}"

enable_neutron_agent_ha: "yes"
enable_neutron_dvr: "no"
enable_neutron_qos: "yes"

# NOTE: is only needed for Rocky
neutron_fwaas_version: "v2"

# nova
nova_console: novnc
nova_virt_type: kvm

# octavia
octavia_loadbalancer_topology: "ACTIVE_STANDBY"

octavia_amp_boot_network_list: OCTAVIA_MGMT_NETWORK_ID
octavia_amp_secgroup_list: OCTAVIA_MGMT_SECURITY_GROUP_ID
octavia_amp_flavor_id: OCTAVIA_FLAVOR_ID

# ceilometer
ceilometer_database_type: gnocchi
ceilometer_event_type: panko

# designate
designate_ns_record: openstack.osism.test

# magnum
enable_cluster_user_trust: "yes"

# manila
enable_manila_backend_generic: "yes"

# prometheus
enable_prometheus_server: "no"

##########################################################
# external ceph

enable_ceph: "no"

cinder_backend_ceph: "yes"
glance_backend_ceph: "yes"
gnocchi_backend_storage: "ceph"
nova_backend_ceph: "yes"

ceph_gnocchi_pool_name: "metrics"
ceph_nova_keyring: ceph.client.nova.keyring
cinder_backup_driver: "ceph"
glance_backend_file: "no"

# NOTE: public_network from environments/ceph/configuration.yml
ceph_public_network: 192.168.64.0/20

##########################################################
# other
