---
##########################################################
# docker

docker_namespace: kolla

##########################################################
# loadbalancer

kolla_internal_vip_address: 192.168.16.9
kolla_external_vip_address: 192.168.16.254

kolla_internal_fqdn: api-int.testbed.osism.xyz
kolla_external_fqdn: api.testbed.osism.xyz

kolla_enable_tls_external: "yes"
kolla_enable_tls_internal: "yes"

kolla_copy_ca_into_containers: "yes"
openstack_cacert: /etc/ssl/certs/ca-certificates.crt

##########################################################
# openstack

# enable services
enable_aodh: "yes"
enable_barbican: "yes"
enable_ceilometer: "yes"
enable_gnocchi: "yes"
enable_ironic: "yes"
enable_magnum: "yes"
enable_manila: "yes"
enable_senlin: "yes"
enable_skyline: "yes"

# generic

openstack_service_workers: 2
openstack_logging_debug: "True"

# keystone
enable_keystone_federation: "yes"
keystone_oidc_forward_header: "X-Forwarded-Proto"
keystone_enable_federation_openid: "yes"
keystone_federation_oidc_response_type: "code"
keystone_identity_providers:
  - name: "keycloak"
    openstack_domain: "keycloak"
    protocol: "openid"
    identifier: "https://keycloak.testbed.osism.xyz/auth/realms/osism"
    public_name: "Authenticate via Keycloak"
    attribute_mapping: "mappingId1"
    metadata_folder: "{{ node_custom_config }}/keystone/federation/oidc/metadata"
    certificate_file: "{{ node_custom_config }}/keystone/federation/oidc/kD9RIBcPiCOVO8wOM2VbZD5XnpgSkf-tWdSmhurxmJo.pem"
keystone_identity_mappings:
  - name: "mappingId1"
    file: "{{ node_custom_config }}/keystone/federation/oidc/attribute_maps/oidc_attribute_mappingId1.json"

# libvirt
# NOTE: Doesn't work yet with our setup
libvirt_enable_sasl: "no"

# neutron
neutron_plugin_agent: ovn
neutron_ovn_availability_zones:
  - nova

enable_neutron_agent_ha: "yes"

# nova
# NOTE: Disable the debugging logs for Libvirt as Libvirt writes a lot of logs
#       that are not of interest.
nova_libvirt_logging_debug: "no"

# octavia
octavia_network_type: tenant

# designate
designate_ns_record: openstack.testbed.osism.xyz

# manila
enable_manila_backend_generic: "yes"

# ironic
ironic_dnsmasq_interface: "vxlan0"
# NOTE: The ironic_dnsmasq_dhcp_range parameter was replaced with ironic_dnsmasq_dhcp_ranges
#       in Zed. The ironic_dnsmasq_dhcp_range parameter can be removed in the future.
ironic_dnsmasq_dhcp_range: "192.168.112.50,192.168.112.60"
ironic_dnsmasq_dhcp_ranges:
  - range: "192.168.112.50,192.168.112.60"
ironic_cleaning_network: "public"

# ceilometer
enable_ceilometer_prometheus_pushgateway: "yes"
ceilometer_prometheus_pushgateway_host: "testbed-manager.testbed.osism.xyz"

##########################################################
# external ceph

enable_ceph: "no"

cinder_backend_ceph: "yes"
glance_backend_ceph: "yes"
gnocchi_backend_storage: "ceph"
nova_backend_ceph: "yes"

ceph_gnocchi_pool_name: "metrics"
cinder_backup_driver: "ceph"
glance_backend_file: "no"

ceph_nova_user: nova
ceph_nova_keyring: ceph.client.nova.keyring

# NOTE: public_network from environments/ceph/configuration.yml
ceph_public_network: 192.168.16.0/20

##########################################################
# other

# This is a workaround for the missings in the defaults of the 4.2.0 release.
# The parameter is required at this point so that the 4.2.0 release can be used
# with the testbed.
om_enable_rabbitmq_high_availability: false
external_ceph_always_copy_cinder_keyring: "no"
