---
##########################################################
# loadbalancer

kolla_internal_vip_address: 192.168.16.9
kolla_external_vip_address: 192.168.16.254

kolla_internal_fqdn: api-int.testbed.osism.xyz
kolla_external_fqdn: api.testbed.osism.xyz

kolla_enable_tls_external: "yes"
kolla_enable_tls_internal: "yes"

kolla_copy_ca_into_containers: "yes"
openstack_cacert: /etc/ssl/certs/ca-certificates.crt

# Can be removed after generating and adding the proxysql certs
database_enable_tls_internal: "no"

##########################################################
# openstack

# enable services
enable_aodh: "yes"
enable_barbican: "yes"
enable_ceilometer: "yes"
enable_magnum: "yes"
enable_manila: "yes"
enable_proxysql: "yes"
enable_skyline: "yes"

# optional services
enable_ironic: "no"

# generic
openstack_service_workers: 2
openstack_logging_debug: "True"

# opensearch
# We use debug logs for all OpenStack services on the testbed. Therefore, a lot of
# logs are collected in a short time. We therefore set the retention time to a very
# low value to prevent the storage from running full.
opensearch_soft_retention_period_days: 1
opensearch_hard_retention_period_days: 1

# neutron
neutron_plugin_agent: ovn
neutron_ovn_availability_zones:
  - nova

# nova
# NOTE: Disable the debugging logs for Libvirt as Libvirt writes a lot of logs
#       that are not of interest.
nova_libvirt_logging_debug: "no"

# octavia
octavia_network_type: tenant

# designate
designate_ns_record: openstack.testbed.osism.xyz

# horizon
horizon_keystone_multidomain: true

# manila
enable_manila_backend_cephfs_native: "yes"

# ironic
ironic_dnsmasq_interface: "vxlan0"
ironic_tftp_interface: "vxlan0"
ironic_http_interface: "vxlan0"
ironic_dnsmasq_dns_port: 53
ironic_dnsmasq_dhcp_ranges:
  - range: "192.168.112.50,192.168.112.254"
    routers: "{{ groups['testbed-managers'] | map('extract', hostvars, 'ansible_facts') | map(attribute=ironic_dnsmasq_interface) | map(attribute='ipv4') | map(attribute='address') | list | join(',') }}"
    dns_server: "{{ groups['testbed-control-nodes'] | map('extract', hostvars, 'ansible_facts') | map(attribute=ironic_dnsmasq_interface) | map(attribute='ipv4') | map(attribute='address') | list | join(',') }}"

# ceilometer
enable_ceilometer_prometheus_pushgateway: "yes"
ceilometer_prometheus_pushgateway_host: "testbed-manager"
ceilometer_metering_pushgateway_host: "testbed-manager"
ceilometer_metering_pushgateway_port: 8088

# rgw integration
enable_ceph_rgw: true
enable_ceph_rgw_keystone: true

ceph_rgw_swift_compatibility: false
ceph_rgw_swift_account_in_url: true

radosgw_frontend_port: 7480

##########################################################
# external ceph

cinder_backend_ceph: "yes"
glance_backend_ceph: "yes"
gnocchi_backend_storage: "ceph"
nova_backend_ceph: "yes"

ceph_gnocchi_pool_name: "metrics"
cinder_backup_driver: "ceph"
glance_backend_file: "no"

ceph_nova_user: nova

# NOTE: public_network from environments/ceph/configuration.yml
ceph_public_network: 192.168.16.0/20

##########################################################
# prometheus

# NOTE: external label is required by the thanos_sidecar
prometheus_external_labels:
  infrastructure: testbed

##########################################################
# other

om_enable_rabbitmq_high_availability: false
om_enable_rabbitmq_quorum_queues: false
