---
- name: Pre play
  hosts: all

  vars_files:
    - vars/mappings.yml
    - vars/repositories.yml

  vars:
    basepath: "{{ ansible_user_dir }}/src/{{ repositories['testbed']['path'] }}"
    terraformbase_path: "{{ ansible_user_dir }}/src/{{ repositories['terraform-base']['path'] }}"
    terraform_path: "{{ basepath }}/terraform"
    opentofu_version: v1.11.1 # renovate: datasource=github-releases depName=opentofu/opentofu
    opentofu_download_url: "https://github.com/opentofu/opentofu/releases/download/{{ opentofu_version }}/tofu_{{ opentofu_version[1:] }}_linux_amd64.zip"

  tasks:
    - name: Set cloud fact (Zuul deployment)
      ansible.builtin.set_fact:
        cloud: "{{ cloud_envs[hostvars[groups['all'][0]]['nodepool']['label']] }}"
      when: "'nodepool' in hostvars[groups['all'][0]]"

    - name: Set cloud fact (local deployment)
      ansible.builtin.set_fact:
        cloud: "{{ testbed_cloud | default('ci') }}"
      when: "'nodepool' not in hostvars[groups['all'][0]]"

    - name: Clean the cloud environment
      ansible.builtin.shell:
        cmd: |
          OS_CLOUD={{ cloud }} ~/venv/bin/python3 cleanup.py
        chdir: "{{ basepath }}/terraform/scripts"
      failed_when: false
      changed_when: true

    - name: Extract tofu binary
      ansible.builtin.unarchive:
        src: "{{ opentofu_download_url }}"
        dest: "{{ ansible_user_dir }}"
        remote_src: true
        include:
          - tofu

    # we run local synchronisation here
    - name: Sync terraform blueprint  # noqa: command-instead-of-module
      ansible.builtin.command: "rsync -avz {{ terraformbase_path }}/{{ terraform_blueprint }}/ {{ basepath }}/terraform"
      changed_when: true

    - name: Create local.env file
      ansible.builtin.template:
        src: local.env.j2
        dest: "{{ terraform_path }}/local.env"
        mode: "0644"
