---
##########################################################
# generic

internal_address: "192.168.16.{{ node_id }}"
internal_interface: "{{ ansible_local.testbed_network_devices.management }}"

console_interface: "{{ internal_interface }}"
management_interface: "{{ internal_interface }}"

##########################################################
# docker

docker_allow_restart: false
docker_network_mtu: "{{ testbed_mtu_manager }}"

##########################################################
# netdata

netdata_host_type: server

##########################################################
# network

network_type: netplan
network_ethernets:
  "{{ internal_interface }}":
    dhcp4: true
    mtu: "{{ testbed_mtu_manager }}"

network_dispatcher_scripts:
  - src: /opt/configuration/network/iptables.sh
    dest: routable.d/iptables.sh
# Only use vxlan.sh networkd-dispatcher script for OSISM < 9.0.0
#   - src: /opt/configuration/network/vxlan.sh
#     dest: routable.d/vxlan.sh

network_vxlan_interfaces: "{{ _network_vxlan_interfaces }}"

##########################################################
# kolla

network_interface: "{{ internal_interface }}"

##########################################################
# netbird
#
# netbird_management_url: https://netbird.regio.digital:33073
# netbird_setup_key:

##########################################################
# k3s

k3s_interface: vxlan1
cilium_iface: "{{ k3s_interface }}"

##########################################################
# frr

frr_uplinks_groups:
  k3s_all
frr_local_as: 64512
frr_loopback_v4: "192.168.128.{{ node_id }}"
frr_type: k3s_cilium
