---
##########################################################
# docker

docker_network_mtu: "{{ testbed_mtu_node }}"

docker_configure_proxy: true
docker_proxy_http: "http://{{ groups['manager'][0] }}:3128"
docker_proxy_https: "{{ docker_proxy_http }}"
docker_proxy_no_proxy_extra:
  - 192.168.16.254
  - 192.168.16.5
  - 192.168.16.8
  - 192.168.16.9
  - api
  - api-int
  - api-int.testbed.osism.xyz
  - api.testbed.osism.xyz
  - testbed-manager

##########################################################
# proxy

proxy_proxies:
  http: "http://{{ groups['manager'][0] }}:3128"
  https: "http://{{ groups['manager'][0] }}:3128"
proxy_no_proxy_extra:
  - 192.168.16.254
  - 192.168.16.5
  - 192.168.16.8
  - 192.168.16.9
  - api
  - api-int
  - api-int.testbed.osism.xyz
  - api.testbed.osism.xyz
  - testbed-manager

##########################################################
# generic

internal_address: "192.168.16.{{ node_id }}"
internal_interface: "{{ ansible_local.testbed_network_devices.management }}"

console_interface: "{{ internal_interface }}"
management_interface: "{{ internal_interface }}"

##########################################################
# netdata

netdata_host_type: client

##########################################################
# network

network_type: netplan

network_ethernets:
  "{{ internal_interface }}":
    dhcp4: true
    mtu: "{{ testbed_mtu_node }}"

network_vxlan_interfaces: "{{ _network_vxlan_interfaces }}"

# Only use vxlan.sh networkd-dispatcher script for OSISM < 9.0.0
# network_dispatcher_scripts:
#   - src: /opt/configuration/network/vxlan.sh
#     dest: routable.d/vxlan.sh

##########################################################
# kolla

network_interface: "{{ internal_interface }}"
neutron_external_interface: vxlan0
octavia_network_interface: ohm0

##########################################################
# ceph

monitor_address: "192.168.16.{{ node_id }}"
radosgw_address: "192.168.16.{{ node_id }}"

# New parameter as of OSISM 7.0.0
ceph_osd_devices: "{{ ansible_local.testbed_ceph_osd_devices }}"

# Old parameter until OSISM 6.0.2
devices: "{{ ansible_local.testbed_ceph_devices }}"

##########################################################
# k3s

k3s_interface: vxlan1
cilium_iface: "{{ k3s_interface }}"

kube_vip_bgp: true
kube_vip_arp: false

# cilium -> frr
cilium_bgp_neighbors:
  - peer_address: "192.168.128.5"
    peer_asn: 64512

# kubevip -> frr
kube_vip_bgp_peers:
  - peer_address: "192.168.128.5"
    peer_asn: 64512

##########################################################
# frr

# frr -> k3s
frr_uplinks__k3s_node:
  - interface: vxlan1
    address: "192.168.128.{{ node_id }}"
    remote_as: 64513
